---
import { ArrowRight } from 'lucide-react';
import Skills from '@/components/Skills';
import { Button } from '@/components/ui/button';
import type { Information } from '@/types/information-type';
import { getResourceUrl } from '@/utils/utils';
import CodeViewer from '../CodeViewer';
import Socials from '../Socials';
import type { InformationSchema } from '@/schemas/information-schema';

const props = Astro.props as { information: InformationSchema };
const { information } = props;
---

<section class='py-12 md:py-32 -mt-6'>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-12'>
    <div class='my-auto space-y-4'>
      <img
        src={getResourceUrl(information?.image)}
        alt='profile image'
        class='object-cover aspect-square w-[80px] md:h-[80px] md:w-[80px] rounded-full'
      />
      <h1 class='text-3xl font-bold lg:text-6xl'>
        {information.first_name}
        {information.last_name}
      </h1>
      <p class='text-muted-foreground text-balance lg:text-lg'>
        {information.summary}
      </p>
      {
        information.skills && (
          <Skills
            skillsString={information.skills}
            limit={4}
            variant={'secondary'}
          />
        )
      }
      <div class='flex gap-4 flex-wrap'>
        <a href='/about'>
          <Button variant='default' client:visible>
            Read More
            <ArrowRight />
          </Button>
        </a>
        {
          information.resume && (
            <Socials client:visible resume={information.resume} />
          )
        }
      </div>
    </div>
    <CodeViewer client:visible information={information} />
  </div>
</section>
