---
import Skills from '@/components/Skills';
import { Button } from '@/components/ui/button';
import { fetchProjects } from '@/services/project';
import type { Project } from '@/types/project-type';
import { getResourceUrl } from '@/utils/utils';
import { ArrowRight } from 'lucide-react';

const projects = await fetchProjects();
---

<div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4'>
  {
    projects.map((project: Project, index: number) => (
      <div class='border rounded-lg'>
        <img
          src={getResourceUrl(project?.image)}
          alt='profile image'
          class='w-full h-auto object-cover rounded-tr-xl rounded-tl-xl border-b'
          style={{ aspectRatio: '16/9' }}
        />
        <div class='p-6'>
          <h3 class='line-clamp-1 font-bold mb-1 lg:text-2xl md:text-xl sm:text-lg'>
            {project.title}
          </h3>
          <p class='line-clamp-2 text-muted-foreground mt-0 lg:text-base md:text-sm sm:text-sm'>
            {project.short_description}
          </p>
          <div class='mt-4'>
            <Skills
              skillsString={project.skills}
              limit={4}
              variant={'outline'}
            />
          </div>
          <a href={`/project/${project.id}`}>
            <Button
              variant='secondary'
              client:visible
              size='sm'
              className='mt-4'
            >
              Read More
              <ArrowRight />
            </Button>
          </a>
        </div>
      </div>
    ))
  }
</div>
