---
import Description from '@/components/astro/Description.astro';
import ShortDescription from '@/components/astro/ShortDescription.astro';
import Title from '@/components/astro/Title.astro';
import DateDisplay from '@/components/DateDisplay';
import Links from '@/components/Links';
import Skills from '@/components/Skills';
import MainLayout from '@/layouts/main.astro';
import { fetchProject } from '@/services/project';
import type { Seo } from '@/types/seo-type';
import { getResourceUrl } from '@/utils/utils';

const { id } = Astro.params;
const project = await fetchProject(Number(id));

if (!project) {
  return Astro.redirect('/404');
}

const content: Seo = {
  title: project.title,
  description: project.short_description,
  image: project.image,
};
---

<MainLayout content={content}>
  <div class='space-y-6 max-w-2xl mx-auto'>
    <img
      src={getResourceUrl(project?.image)}
      alt='profile image'
      class='w-full h-auto object-cover rounded-xl border'
      style={{ aspectRatio: '16/9' }}
    />
    <Title content={project.title} />
    <DateDisplay period={project} />
    <ShortDescription content={project.short_description} />
    <Skills skillsString={project.skills} variant={'secondary'} />
    <Description content={project.description} />
    <Links linksString={project.links} />
  </div>
</MainLayout>
